@import "common.css";

.titled-pane > .title {
    -fx-pref-height: 40.0;
    -fx-background-color: -fx-btn-color-new;
    -fx-font-size: 1.2em;
}

.titled-pane > .title:hover {
    -fx-border-style: solid;
    -fx-border-width: 0 0 4 0;
}

.titled-pane #acc-expanded-pane {
    -fx-background-color: -fx-bg-color;
}

.titled-pane #acc-expanded-pane HBox > VBox {
    -fx-pref-width: 150;
}

.titled-pane #acc-expanded-pane .progress-indicator:indeterminate {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
}

.titled-pane #acc-expanded-pane .jfx-button {
    -jfx-button-type: RAISED;
    -fx-pref-height: 25;
    -fx-padding: 5;
    -fx-cursor: HAND;
    -fx-background-color: -fx-btn-color-new;
    -fx-font-size: 1.2em;
}

.dashboard-menu {
    -fx-spacing: 10;
    -fx-background-color: -fx-bg-color;
    -fx-padding: 10;
}

.dashboard-menu > .jfx-button {
    -jfx-button-type: RAISED;
    -fx-pref-height: 40;
    -fx-cursor: HAND;
    -fx-background-color: -fx-btn-color;
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 25;
    -fx-font-size: 1.2em;
}

.dashboard-menu > .jfx-button:hover {
    -fx-border-style: solid;
    -fx-border-width: 0 0 4 0;
}
